-
    const imagesList1 = [
        {
            'photo':'https://i.ibb.co/3R4dfD0/03tourisme14122024.jpg',
            'lien':'https://ecosup-tourisme.fr',
            'alt':'Formation en alternance BTS, Bachelor et Mastère'
        },
        {
            'photo':'https://i.ibb.co/6vGTNbk/03assurancejpo14122024.jpg',
            'lien' :'https://ecosup-assurance.fr',
            'alt':'Soirée de la remise des diplômes à Ecosup Assurance'
        }
    ]
-
    const imagesList2 = [
        {
            'photo':'https://i.ibb.co/RQQ53HR/02tourisme14122024.jpg',
            'lien':'https://ecosup-assurance.fr',
            'alt':'Visite professionnelle de la maison Cavrois'
        },
        {
            'photo':'https://i.ibb.co/1nKQ43L/01tourisme14122024.jpg',
            'lien':'https://ecosup-assurance.fr',
            'alt':'travail de projet tourisme au niveau du mastère tourisme'
        }
    ]
//- section Affiche
mj-section(padding='0' mj-class="bg-0")
    mj-group(width="50%")
        mj-column(width="100%")
            mj-image(width='300px' padding='0' border="none" fluid-on-mobile="true" href='https://ecosup-tourisme.fr' src='https://i.ibb.co/c2J7RNK/affjpo14122024.jpg' target='_blank' alt='Affiche de la Journée Portes Ouvertes du samedi 14 décembre 2024')/
    mj-group(width="50%")
        mj-column(width="50%")
            each image in imagesList1
                mj-image(width='300px' padding='0' border="none" fluid-on-mobile='true' href=image.lien src=image.photo target='_blank' alt=image.alt)/      
        mj-column(width="50%")
            each image in imagesList2
                mj-image(width='300px' padding='0' border="none" fluid-on-mobile="true" href=image.lien src=image.photo target='_blank' alt=image.alt)/      