-
    const imgsList1 = [
        {
            'photo':'https://i.ibb.co/VHnfZ5w/01-Commerce14122024-01.jpg',
            'lien' :'https://ecosup-commerce.fr',
            'alt':'centre commercial'
        },
        {
            'photo':'https://i.ibb.co/6vGTNbk/03assurancejpo14122024.jpg',
            'lien' :'https://ecosup-commerce.fr',
            'alt':'Soirée de la remise des diplômes à Ecosup Campus Tourcoing'
        }
    ]
-
    const imgsList2 = [
        {
            'photo':'https://i.ibb.co/LJcZZW5/01-Commerce14122024-02.jpg',
            'lien' :'https://ecosup-commerce.fr',
            'alt':'centre commercial'
        },
        {
            'photo':'https://i.ibb.co/wCkrLkK/01commerce-JPO14122024.jpg',
            'lien' :'https://ecosup-commerce.fr',
            'alt':'BTS MCO en apprentissage chez B&M'
        }
    ]
//- section Affiche
mj-section(padding='0' mj-class="bg-0")
    mj-group(width="50%")
        mj-column(width="100%")
            mj-image(width='300px' padding='0' border="none" fluid-on-mobile="true" href='https://ecosup-commerce.fr' src='https://i.ibb.co/c2J7RNK/affjpo14122024.jpg' target='_blank' alt='Affiche de la Journée Portes Ouvertes du samedi 14 décembre 2024')/
    mj-group(width="50%")
        mj-column(width="50%")
            each image in imgsList1
                mj-image(width='300px' padding='0' border="none" fluid-on-mobile='true' href=image.lien src=image.photo target='_blank' alt=image.alt)/      
        mj-column(width="50%")
            each image in imgsList2
                mj-image(width='300px' padding='0' border="none" fluid-on-mobile='true' href=image.lien src=image.photo target='_blank' alt=image.alt)/