-
    const imagesList1 = [
        {
            'photo':'https://i.ibb.co/PGNXJB4/01img-JPO14122024.jpg',
            'lien' :'https://ecosup-hotellerie.fr',
            'alt':'Travail dans la cuisine du restaurant d\'application'
        },
        {
            'photo':'https://i.ibb.co/5jvk5SN/img-JPO14122024-02.jpg',
            'lien' :'https://ecosup-hotellerie.fr',
            'alt':'Équipe restauration : salle et cuisine'
        }
    ]
-
    const imagesList2 = [
        {
            'photo':'https://i.ibb.co/6vGTNbk/03assurancejpo14122024.jpg',
            'lien' :'https://ecosup-hotellerie.fr',
            'alt':'lancement de chapeau lors de la soirée de la remise des diplômes'
        },
        {
            'photo':'https://i.ibb.co/PT0vB7P/img-JPO14122024-03.jpg',
            'lien' :'https://ecosup-hotellerie.fr',
            'alt':'Équipe restauration : salle et cuisine'
        }
    ]
//- section Affiche
mj-section(padding='0' mj-class="bg-0")
    mj-group(width="50%")
        mj-column(width="100%")
            mj-image(width='300px' padding='0' border="none" fluid-on-mobile="true" href='https://ecosup-hotellerie.fr' src='https://i.ibb.co/c2J7RNK/affjpo14122024.jpg' target='_blank' alt='Affiche de la Journée Portes Ouvertes du samedi 14 décembre 2024')/
    mj-group(width="50%")
        mj-column(width="50%")
            each image in imagesList1
                mj-image(width='300px' padding='0' border="0" fluid-on-mobile='true' href=image.lien src=image.photo target='_blank' alt=image.alt)/      
        mj-column(width="50%")
            each image in imagesList2
                mj-image(width='300px' padding='0' border="0" fluid-on-mobile='true' href=image.lien src=image.photo target='_blank' alt=image.alt)/