-
    const imagesList1 = [
        {
            'photo':'https://i.ibb.co/MZwKhzh/03petite-Enfance14122024.jpg',
            'lien' :'https://ecosup-sante.fr/accompagnant-petite-enfance',
            'alt':'A la crèche, séance éveil et découverte avec un atelier coloriage'
        },
        {
            'photo':'https://i.ibb.co/6vGTNbk/03assurancejpo14122024.jpg',
            'lien' :'https://ecosup-sante.fr/accompagnant-petite-enfance',
            'alt':'Soirée de la remise des diplômes chez Ecosup Santé'
        }
    ]
-
    const imagesList2 = [
        {
            'photo':'https://i.ibb.co/sPMsMpb/02petite-Enfance14122024.jpg',
            'lien' :'https://ecosup-sante.fr/accompagnant-petite-enfance',
            'alt':'Jeu d\'éveil pour les tout-petits'
        },
        {
            'photo':'https://i.ibb.co/kG5H6hw/01petite-Enfance14122024.jpg',
            'lien' :'https://ecosup-sante.fr/accompagnant-petite-enfance',
            'alt':'A la crèche, les enfants bien entourés s\'épanouissent'
        }
    ]
//- section Affiche
mj-section(padding='0' mj-class="bg-0")
    mj-group(width="50%")
        mj-column(width="100%")
            mj-image(width='300px' padding='0' border="none" fluid-on-mobile="true" href='https://ecosup-sante.fr/accompagnant-petite-enfance' src='https://i.ibb.co/c2J7RNK/affjpo14122024.jpg' target='_blank' alt='Affiche de la Journée Portes Ouvertes du samedi 14 décembre 2024')/
    mj-group(width="50%")
        mj-column(width="50%")
            each image in imagesList1
                mj-image(width='300px' padding='0' border="none" fluid-on-mobile='true' href=image.lien src=image.photo target='_blank' alt=image.alt)/      
        mj-column(width="50%")
            each image in imagesList2
                mj-image(width='300px' padding='0' border="none" fluid-on-mobile='true' href=image.lien src=image.photo target='_blank' alt=image.alt)/