-
    const imagesList1 = [
        {
            'photo':'https://i.ibb.co/yXpSy0G/01supveto14122024.jpg',
            'lien' :'https://ecosup-sante.fr/supveto',
            'alt':'Exercer en clinique vétérinaire'
        },
        {
            'photo':'https://i.ibb.co/6vGTNbk/03assurancejpo14122024.jpg',
            'lien' :'https://ecosup-sante.fr/supveto',
            'alt':'Soirée de la remise de diplôme à Supveto Lille'
        }
    ]
-
    const imagesList2 = [
        {
            'photo':'https://i.ibb.co/NmstVNb/03supveto14122024.jpg',
            'lien' :'https://ecosup-sante.fr/supveto',
            'alt':'Connaître les NAC comme les serpents'
        },
        {
            'photo':'https://i.ibb.co/8DhSw8c/02supveto14122024.jpg',
            'lien' :'https://ecosup-sante.fr/supveto',
            'alt':'Apprendre a effectué des soins sur nos animaux de compagnie'
        }
    ]
//- section Affiche
mj-section(padding='0' mj-class="bg-0")
    mj-group(width="50%")
        mj-column(width="100%")
            mj-image(width='300px' padding='0' border="none" fluid-on-mobile="true" href='https://ecosup-sante.fr/supveto' src='https://i.ibb.co/c2J7RNK/affjpo14122024.jpg' target='_blank' alt='Affiche de la Journée Portes Ouvertes du samedi 14 décembre 2024')/
    mj-group(width="50%")
        mj-column(width="50%")
            each image in imagesList1
                mj-image(width='300px' padding='0' border="none" fluid-on-mobile='true' href=image.lien src=image.photo target='_blank' alt=image.alt)/      
        mj-column(width="50%")
            each image in imagesList2
                mj-image(width='300px' padding='0' border="none" fluid-on-mobile='true' href=image.lien src=image.photo target='_blank' alt=image.alt)/